<!DOCTYPE html>
<html>
  <head>
    <title>JSONProxy</title>
    <meta name="description" content="Enables cross-domain requests to any JSON API"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <link rel="canonical" href="https://jsonp.afeld.me"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css" rel="stylesheet" type="text/css"/>
    <link href="public/app.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      hljs.initHighlightingOnLoad();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19048260-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <a href="https://github.com/afeld/jsonp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

    <div id="wrapper">
      <h1>JSONProxy</h1>
      <a href="https://travis-ci.org/#!/afeld/jsonp">
        <img src="https://secure.travis-ci.org/afeld/jsonp.png?branch=master" alt="Travis CI build status"/>
      </a>
      <p id="subtitle">
        Enables cross-domain requests to <em>any</em> JSON API.
      </p>
      <p>
        Very useful for mashup sites - since API calls can be done client-side, no server code is needed.  Note that exposing API secret keys in client code is discouraged.  Examples in jQuery, though it is not required.
      </p>

      <section>
        <h2 id="jsonp">Easy: JSONP</h2>
        <pre><code class="language-html"><%= snippets.jsonp %></code></pre>
        <form class="urlEntry" action="" method="get">
          http://<%= host %>/?callback=<input type="text" name="callback" placeholder="functionName" />&amp;</span>url=<span><input type="text" name="url" placeholder="API URL"/>
          <input type="submit" value="Go"/>
        </form>
      </section>

      <section>
        <h2 id="cors">Easier: Cross-domain AJAX (<a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a>)</h2>
        <p class="finePrint">
          (<a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing#Browser_support">not supported</a> by IE &lt; 10)
        </p>
        <pre><code class="language-html"><%= snippets.ajax %></code></pre>
        <form class="urlEntry" action="" method="get">
          http://<%= host %>/?url=<input type="text" name="url" placeholder="API URL" />
          <input type="submit" value="Go"/>
        </form>
        <p class="finePrint">
          JSONProxy also supports POST requests:
        </p>
        <pre><code class="language-html"><%= snippets.ajax_post %></code></pre>
      </section>

      <section>
        <h2 id="plugin"><em>Easiest:</em> jQuery Plugin</h2>
        <p>
          Wrapper function of <a href="http://api.jquery.com/jQuery.ajax/" target="_blank">jQuery.ajax()</a>, which detects browser support and picks the best available transport:
        </p>
        <ol>
          <li>CORS directly</li>
          <li>CORS via proxy</li>
          <li>JSONP directly</li>
          <li>JSONP via proxy</li>
        </ol>
        <p>
          In addition to the options available for <a href="http://api.jquery.com/jQuery.ajax/" target="_blank">jQuery.ajax()</a>, the plugin adds two additional options: <code>corsSupport</code> and <code>jsonpSupport</code>.
        </p>
        <pre><code class="language-html"><%= snippets.client %></code></pre>
        <h3>Installation</h3>
        <p>
          <code>bower install jsonproxy</code>, or <a href="https://raw.github.com/afeld/jsonp/v0.3.1/jsonp.js">download directly</a>. Requires jQuery 1.5+ and <a href="http://medialize.github.io/URI.js/">URI.js</a>.
        </p>
        <h3>AMD Setup</h3>
        <p>
          Once the plugin is installed, it's easy to include it from a frontend module loader like <a href="http://requirejs.org/">RequireJS</a>:
        </p>
        <pre><code class="language-js"><%= snippets.amd %></code></pre>
        <p>
          Check out <a href="http://requirejs.org/docs/jquery.html">the RequireJS jQuery guide</a> for more information.
        </p>
      </section>

      <hr/>

      <section>
        <h2>CORS vs. JSONP</h2>
        <p>
          Unfortunately, detection of response errors with JSONP is difficult, at best. jQuery's JSONP implementation won't call an error callback unless an explicit timeout is specified (which the <a href="#plugin">plugin</a> takes care of) - see <a href="http://stackoverflow.com/questions/5247295/jquery-ajax-request-using-jsonp-error">here</a> for more info and options.
        </p>
        <p>
          CORS, however, is just normal AJAX!  There is also a security advantage, in that it's not possible for a malicious service (including this one) to run arbirtrary JavaScript on your page.
        </p>

        <hr/>
      </section>

      <footer>
        <a href="https://twitter.com/aidanfeldman" class="twitter-follow-button" data-show-count="false">Follow @aidanfeldman</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <p class="node-version">
          Node <%= nodeVersion %>
        </p>
      </footer>
    </div>
  </body>
</html>
